.app-select {
  background: url(15xvbd5.png) no-repeat 96%;
  height: 29px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #cac4d6;
  width: 300px;
  margin: 10px;
  -webkit-appearance: none;
  font-size: 15px;
}

.checkmark {
  font-size: 20px;
  color: green;
}
